PORT=3000
MONGO_URI=your_mongodb_connection_string
GEMINI_API_KEY="AIzaSyDuHMpUf8vnmwFbcIQyMH7kz9miyelaOj4"
AZURE_OPENAI_ENDPOINT="https://proj-ai-local-region-resource.services.ai.azure.com/openai/deployments/gpt-5.4-mini"
AZURE_OPENAI_API_KEY="https://proj-ai-local-region-resource.services.ai.azure.com/openai/deployments/text-embedding-3-large"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-large
AZURE_OPENAI_API_VERSION=2024-02-15-preview
